alabaster==0.7.12
argh==0.26.2
astroid==2.3.3
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.4.3
Babel==2.8.0
backcall==0.2.0
bcrypt==3.1.7
bleach==3.3.0
boto==2.49.0
boto3==1.14.20
botocore==1.17.20
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
colorama==0.4.3
cryptography==3.3.2
cycler==0.10.0
Cython==0.29.14
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
future==0.18.2
gensim==3.8.3
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imagesize==1.2.0
importlib-metadata @ file:///C:/ci/importlib-metadata_1593446525189/work
intervaltree @ file:///tmp/build/80754af9/intervaltree_1594361675072/work
ipykernel==5.3.0
ipython @ file:///C:/ci/ipython_1593433781269/work
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.2
Jinja2==2.11.3
jmespath==0.10.0
json5==0.9.5
jsonschema @ file:///C:/ci/jsonschema_1594363671836/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594163838128/work
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
keyboard==0.13.5
keyring @ file:///C:/ci/keyring_1593109817825/work
kiwisolver==1.2.0
lazy-object-proxy==1.5.0
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
matplotlib==3.2.2
mccabe==0.6.1
mistune @ file:///C:/ci/mistune_1594373272338/work
MouseInfo==0.1.3
nbconvert @ file:///C:/ci/nbconvert_1594372737468/work
nbformat==5.0.7
notebook==6.1.5
numpy==1.19.0
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
opencv-python==4.3.0.36
packaging==20.4
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.5.2
pathtools==0.1.2
pexpect @ file:///C:/ci/pexpect_1594383465186/work
pickleshare @ file:///C:/ci/pickleshare_1594374056827/work
Pillow==8.1.1
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psutil==5.7.0
PyAutoGUI==0.9.50
pycodestyle==2.5.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pyflakes==2.1.1
PyGetWindow==0.0.8
Pygments==2.6.1
pylint==2.4.4
PyMsgBox==1.0.8
PyNaCl @ file:///C:/ci/pynacl_1593121837095/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyperclip==1.8.0
PyRect==0.1.4
pyrsistent==0.16.0
PyScreeze==0.1.26
PySocks @ file:///C:/ci/pysocks_1594394709107/work
pytesseract==0.3.4
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server==0.31.10
PyTweening==1.0.3
pytz==2020.1
pywin32==227
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1594392691209/work
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
rope==0.17.0
Rtree==0.9.4
s3transfer==0.3.3
scipy==1.5.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
smart-open==2.1.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
Sphinx @ file:///tmp/build/80754af9/sphinx_1594223420021/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.1.3
spyder-kernels==1.9.1
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
ujson==1.35
urllib3==1.25.9
watchdog @ file:///C:/ci/watchdog_1593446515400/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
zipp==3.1.0
